@tailwind base;

@tailwind components;

@tailwind utilities;  

.theme-light{
  --bg-background-primary:#eaeaeb;
  --bg-background-secondary:#fafafa;
  --bg-background-ternary:#fafafa;
  --text-copy-primary:#7676a3;
  --text-copy-secondary:#2d3748;

}
.theme-dark{
  --bg-background-primary:#241b2f;
  --bg-background-secondary:#262335;
  --bg-background-ternary:#171520;
  --text-copy-primary:#718096;
  --text-copy-secondary:#cbd5e0;
}

.content::-webkit-scrollbar {
  width: 5px;
}
 
.content::-webkit-scrollbar-track {
  box-shadow: rgba(38, 35, 53, var(--bg-opacity));
}
 
.content::-webkit-scrollbar-thumb {
  background-color: #880088;
  outline: 1px solid slategrey;
}